.container {
    display: flex;
    flex-direction: row;
}

.chat {
    border: 1px solid;
    width: 200 px;
    height: 400px;
    margin: 24px;
}

.grid {
    flex: 1;
}

.token {
    border: 1px solid;
    width: 200 px;
    height: 400px;
    margin: 24px;
}