<table *ngIf="!loading" class="table">
    <tr *ngFor="let column of columns" class="row">
        <td *ngFor="let row of rows" class="cell">    </td>
    </tr>
</table>
<button (click)="xDimension = xDimension + 1; drawGrid();">Increase x Dimension</button>
<button (click)="xDimension = xDimension - 1; drawGrid();">Decrease x Dimension</button>
<button (click)="yDimension = yDimension + 1; drawGrid();">Increase y Dimension</button>
<button (click)="yDimension = yDimension - 1; drawGrid();">Decrease y Dimension</button>