<label>Upload file</label>
<input type="file" (change)="onUpload($event)">
<div *ngFor="let file of files">
    <img src="file.name">
</div>
      <!-- Progress Bar -->
      <!-- <div class="progress form-group" *ngIf="fileUploadService.percentDone">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
          [style.width.%]="fileUploadService.percentDone">
        </div>
      </div> -->

      <!-- Image Preview -->
      <div class="form-group">
        <div class="preview" *ngIf="preview && preview !== null">
          <img [src]="preview" [alt]="form.value.name">
        </div>
      </div>

<button (click)="submit()">Upload</button>